*.js~
*.json
*.marks
*.history
*.o
*.so
*.R
!R/
!R/*.R
/tools/
!/tools/
/tools/*
!/tools/threaded-webr-experiment/
!/tools/threaded-webr-experiment/**
/tools/threaded-webr-experiment/build/
*.Rproj
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.DS_Store
src/*.DS_Store
src/*.a
