import(venn)
import(admisc)
import(declared)
importFrom(utils,packageDescription)
importFrom(utils,capture.output)
importFrom(utils,data)
importFrom(utils,loadhistory)
importFrom(utils,savehistory)
importFrom(utils,tail)
importFrom(stats,glm)
importFrom(stats,predict)
importFrom(stats,quasibinomial)
importFrom(stats,binom.test)
importFrom(stats,cutree)
importFrom(stats,dist)
importFrom(stats,hclust)
importFrom(stats,na.omit)
importFrom(stats,dbinom)
importFrom(stats,setNames)
importFrom(grDevices,dev.cur)
importFrom(grDevices,dev.new)
importFrom(grDevices,dev.list)
importFrom(graphics,abline)
importFrom(graphics,axis)
importFrom(graphics,box)
importFrom(graphics,mtext)
importFrom(graphics,par)
importFrom(graphics,title)
importFrom(graphics,text)
importFrom(methods,is)
export(.onAttach)
export(allExpressions)
export(as.panel)
export(calibrate)
export(causalChain)
export(complexity)
export(createMatrix)
export(eqmcc)
export(findmin)
export(findRows)
export(findSubsets)
export(findSupersets)
export(findTh)
export(fuzzyand)
export(fuzzyor)
export(generate)
export(getRow)
export(makeChart)
export(minimize)
export(minimizeLoop)
export(modelFit)
export(pof)
export(pofind)
export(rebuild)
export(removeRedundants)
export(replaceCategories)
export(retention)
export(solveChart)
export(superSubset)
export(truthTable)
export(verify.data)
export(verify.dir.exp)
export(verify.minimize)
export(verify.inf.test)
export(verify.qca)
export(verify.mqca)
export(verify.tt)
export(Xplot)
export(XYplot)
export(nec)
export(suf)
export(getSolution)
export(rowDominance)
export(sortMatrix)
export(sortVector)
export(writeSolution)
export(mvregexp)
S3method(print,QCA_aE)
S3method(print,QCA_chain)
S3method(print,QCA_findmin)
S3method(print,QCA_fuzzy)
S3method(print,QCA_loopmin)
S3method(print,QCA_min)
S3method(print,QCA_modelFit)
S3method(print,QCA_panel)
S3method(print,QCA_pic)
S3method(print,QCA_pof)
S3method(print,QCA_sS)
S3method(print,QCA_tt)
useDynLib(QCA, .registration = TRUE)
